.mouse-container {
    height: 100%;
}

.mousepad {
    height: calc(100% - 100px);
    background-color: lightgray;
    margin: 5px;
    margin-top: 30px;
    border-radius: 3vw;
    display: block;

    display: flex;
    align-items: center;
    justify-content: center;
    color: darkgray;
    font-size: 25px;
    font-style: italic;
}

.mousebtn {
    margin: 5px;
}

.mousebtn button {
    padding: 0px;
    height: 60px;
    font-size: 25px;
    background-color: gray;
}

.messagebar {
    position: absolute;
    bottom: 0px;
}